@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600&display=swap');
.bodyServices-container{
    min-height: 100vh;
}
.section-headline{
    font-family: 'Big Shoulders Display', cursive;
}
.service-image{
    height: 80%;
    width: 80%;
}


