.top-navigation{
    background-color: rgba(99, 95, 95, 0.747);
}

.cart-icon{
    cursor: pointer;
}
.cart-container{
    text-decoration: none;
    font-weight: 700;
}
.cart-text{
    font-weight: 700;
}